/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #050505;
$primary-color: #dfdfdf;
$secondary-color: #971313;
$main-font: 'Rock Salt';
@mixin columnFlexCenter() {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: center / cover no-repeat url("../images/hallway-with-window.jpg");
}
/* ********* HEADER ********* */
header {
  background-color: $primary-background;
  color: $primary-color;
  font-family: 'Creepster';
  font-size: 2em;
  text-align: center;
  h1 {
    color: $secondary-color;
  }
}

nav {
  div {
    float: left;
    padding: 0.5em;
  }

  ul {
    list-style-type: none;
  }
}

/* ********* MAIN CONTENT ********* */

main {
  background-color: rgba(0, 0, 0, 0.5);
  color: $primary-color;
  font-family: $main-font;
}

/* ********* MAIN MENU SCREEN ********* */
.main-menu {
  align-items: center;
  display: grid;
  // display: none;
  grid-template-rows: 1fr 2fr 1fr;
  height: 90vh;
  text-align: center;
}

.player-input {
  @include columnFlexCenter();
}

.input-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 2rem;
  justify-content: center;
}

.player1-wrapper,
.player2-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2.5em;
  padding: 2em;
}

.player-input {
  background-color: $primary-color;
  font-size: 1em;
  font-family: $main-font;
  width: 15em;
}

.instruction-button,
.player-button {
  justify-self: center;
  font-family: $main-font;
  font-size: 2em;
  padding: 0.5em;
  margin: 1em;
  width: 20em;
}
/* ********* INSTRUCTIONS SCREEN ********* */
.instructions {
  @include columnFlexCenter();
  height: 90vh;
  // display: none;
  h2 {
    padding: 1em;
  }
}

.instruction-content {
  width: 70%;
}

.instruction-content p {
  padding: 0.5em;
}

/* ********** GAME SCREEN ********** */
.game-screen {
  display: grid;
  font-size: 1.25rem;
  grid-template-columns: 1fr 3fr 1fr;
  height: 90vh;
  // display: none;
}

.player-screen {
  @include columnFlexCenter();
  justify-content: center;
  * {
    padding: 0.5em;
  }
}

.player1-screen {
  margin-left: 1em;
  transform: skewY(13deg);
}

.player2-screen {
  margin-right: 1em;
  transform: skewY(-13deg);
}

.wrong-guesses {
  text-decoration: line-through;
}

.survey {
  @include columnFlexCenter();
  h2 {
    margin-bottom: 1em;
    padding: 1em;
  }
}


.survey-answer-wrapper {
  @include columnFlexCenter();
  width: 100%;
}

.survey-answer {
  align-items: center;
  background-color: #3f3f3f;
  border-radius: 1em;
  box-shadow: 0em 0em 1.5em red;
  display: flex;
  justify-content: space-between;
  margin: 1.5em;
  padding: 0.5em 1em;
  width: 50%;
}
