
$primary-background: hsla(240, 9%, 4%, 100%);
$secondary-background: hsla(0, 0%, 25%, 100%);
$primary-color: hsla(0, 0%, 87%, 100%);
$secondary-color: hsla(0, 78%, 33%, 100%);
$main-font: 'Rock Salt';
@mixin columnFlexCenter() {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}

@mixin focusColor() {
    outline: none !important;
    box-shadow: 0 0 1.5em $secondary-color;
    // box-shadow: 0 0 10px #719ECE;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: top / cover no-repeat url("../images/hallway-with-window.jpg");
  width: 100%;
}

/* ********* HEADER ********* */

header {
  background-color: $primary-background;
  color: $primary-color;
  font-family: 'Creepster';
  font-size: 2em;
  text-align: center;
  h1 {
    color: $secondary-color;
  }
}

nav {
  div {
    float: left;
    padding: 0.5em;
  }

  ul {
    list-style-type: none;
  }
}

/* ********* MAIN CONTENT ********* */

main {
  background-color: rgba(0, 0, 0, 0.7);
  color: $primary-color;
  font-family: $main-font;
}

/* ********* MAIN MENU SCREEN ********* */

.main-menu {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: calc(100vh - 75px);
  text-align: center;
}

.player-input {
  @include columnFlexCenter();
}

.input-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 2rem;
  justify-content: center;
}

.player1-wrapper,
.player2-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2.5em;
  padding: 0 2em;
}

.player-input {
  background-color: $primary-color;
  border-radius: 0.5em;
  font-size: 1em;
  font-family: $main-font;
  padding-left: .25em;
  width: 15em;
  &:focus {
    @include focusColor();
  }
}

.instruction-button,
.player-button {
  border: none;
  border-radius: 1em;
  cursor: pointer;
  justify-self: center;
  font-family: $main-font;
  font-size: 2em;
  padding: 0.5em;
  margin: 1em;
  width: 20em;
  &:hover {
    @include focusColor();
    background-color: darken($primary-color, 20%);
  }
}

/* ********* INSTRUCTIONS SCREEN ********* */

.instructions {
  @include columnFlexCenter();
  display: none;
  height: calc(100vh - 75px);
  h2 {
    padding: 1em;
  }
}

.instruction-content {
  width: 70%;
}

.instruction-content p {
  padding: 0.5em;
}

/* ********** GAME SCREEN ********** */

.game-screen {
  display: grid;
  font-size: 1.25rem;
  grid-template-columns: 1fr 3fr 1fr;
  height: calc(100vh - 75px);
  display: none;
}

.player-screen {
  @include columnFlexCenter();
  justify-content: center;
  * {
    padding: 0.5em;
  }
}

.player1-screen {
  margin-left: 1em;
  transform: skewY(13deg) translateY(-2em);
}

.player2-screen {
  margin-right: 1em;
  transform: skewY(-13deg) translateY(-2em);
}

.player1-answer-input,
.player2-answer-input,
.playerp-answer-input,
.submit-answer {
  border-radius: .25em;
  font-family: $main-font;
  font-size: .75em;
  margin: .25em;
  width: 100%;
  &:focus {
    @include focusColor();
  }
}

.submit-answer {
  background-color: $primary-color;
  &:hover {
    background-color: $secondary-background;
    color: $primary-color;
  }
}

.wrong-guesses {
  color: $secondary-color;
  font-size: 1.5em;
  text-decoration-line: line-through;
  text-decoration-style: double;
  span {
    color: $secondary-color;
    span {
      color: $primary-color;
    }
  }
}

.survey,
.panic-survey {
  @include columnFlexCenter();
  h2 {
    margin-bottom: 1em;
    padding: 1em;
  }
}

.survey-answer-wrapper {
  @include columnFlexCenter();
  width: 100%;
}

.survey-answer {
  @include focusColor();
  align-items: center;
  background-color: $secondary-background;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  margin: 1.5em;
  padding: 0.5em 1em;
  width: 60%;
}

/* ********** PANIC ROUND SCREEN ********** */

.panic-round,
.panic-round-screen {
  @include columnFlexCenter();
}

.panic-round {
  display: none;
  height: calc(100vh - 75px);
}

.panic-round > h2 {
  font-size: 2em;
  margin-top: 2em;
}

.panic-timer,
.multiplier,
#multi-value {
  color: $secondary-color;
}

.multiplier {
  width: 60%;
}

.panic-round-screen {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

.panic-player {
  @include columnFlexCenter();
  font-size: 1.25em;
  width: 100%;
}


/* ********** END GAME SCREEN ********** */

.end-game-screen {
  @include columnFlexCenter();
  display: none;
  height: calc(100vh - 75px);
  text-align: center;
}

.winner-banner,
.loser-banner {
  margin: 1em;
}

.winner-banner {
  font-size: 2em;
}

.loser-banner {
  color: $secondary-color;
  font-size: 1.25em;
}